*{
    margin: 0;
    padding: 0;

}
//CAUSO UN ERROR AL RENDERIZAR
body::-webkit-scrollbar{
    display: none;
  }



.container{
    width: 100vw;
    height: 100vh;
    background: white;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: "logo       zonaTop"
                         "menus      zona"
                         "menus      zona"
                         "menus      zona";
}








