

.zonaTable {
    justify-self: center;
    width: 95%;
    height: 90%;
    grid-area: zona;
    background: white;
    border-radius: 10px;
    
    
    
}

// .tableStyle {
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 18px;
//     font-weight: 500;
//     border-collapse: collapse;
//     width: 100%;
    
//     td, th {
//         color: black;
//         border: 1px solid #dddddd;
//         text-align: left;
//         padding: 8px;
//     }
    
//     tr:nth-child(odd) {
//       background-color: rgb(112, 172, 112);
      
//     }
// }